[submodule "public/images"]
	path = public/images
	url = git@github.com:Dragonliu2018/vibe-reading-images.git
[submodule "public/papers"]
	path = public/papers
	url = git@github.com:Dragonliu2018/vibe-reading-papers.git
